# Neon DB
DATABASE_URL=postgresql://user:password@ep-xxxx.neon.tech/neondb?sslmode=require

# GCP Project
GCP_PROJECT_ID=your-gcp-project-id

# GCP Cloud Storage (Feature 1)
GCP_BUCKET_NAME=product-catalogue-images-yourname

# For local dev only - path to your downloaded service account key
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json

# For Vercel deployment - paste entire gcp-key.json contents here
# GCP_KEY_JSON={"type":"service_account",...}

PORT=3000
